

.conversations{
    width: 260px;
    overflow: hidden;
    padding: 10px;
    background-color: #202123;
}

.chat-box{
    
    flex: 1;
    background-color: #343541;
    position: relative;
}
.conversations{
    width: 260px;
    overflow: hidden;
    padding: 10px;
    background-color: #202123;
}

.toggle-button{
    padding: 15px;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    transition: ease 0.5s all;
}

.toggle-button:hover{
    background-color: rgba(255,255,255,0.1);
}

.toggle-button-selected{
    background-color: rgba(247,247,248,0.3);  
    padding: 15px;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    transition: ease 0.5s all;
}

.toggle-button-selected:hover{
    background-color:rgba(255,255,255,0.1);
}

.chat-log{
    padding: 24px;
    /* overflow-y: scroll; */
    /* text-align: left; */
}

.text-box{
    padding: 20px;
    padding-bottom: 20px;
    position: relative;
    bottom: 0; left: 0; right: 0;
    /* overflow-y: auto; */
}

.text-input{
    background-color: #40414f;
    width: 90%;
    padding: 12px;
    color: white;
    font-size: 1.25em;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0 ,0, 0, 0.25);
}

.message{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.avatar.false{
    /* background: white; */
    border-radius: 20px;
    height: 40px;
    width: 40px;
}


.avatar.chatgpt{
    background: white;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: #19c37d;
}

.chat-message.false{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-start;
}

.chat-message.chatgpt{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #444654;
    display: flex;
    justify-content: flex-end;
}

.chat-message-centre{
    display: flex;
    padding: 12px; 
}

.select-div{
    background-color: rgba(247,247,248,0.3);
    border-color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.select-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.select-tag{
    border-color: white;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.select-option{
    background-color:rgba(247,247,248,0.3);
}

.main-container{
    text-align: center;
  display: flex;
  background-color:#282c34;
  color: white;
  position: absolute;
  top: 60px;bottom: 0;left: 0;right: 0;
}